BEPTOKEN_RPC_URL=https://bsc-mainnet.nodereal.io/v1/ceb733ce6dbc41baa700b46280a11647
ERC_TOKEN_RPC_URL=https://eth-mainnet.g.alchemy.com/v2/EZz1To-Nb5VErAW7DW8u8_rW31X2BNmT
ETH_RPC_URL=https://eth-mainnet.nodereal.io/v1/ceb733ce6dbc41baa700b46280a11647